/*
Variables: 
footer-content height: 40px;
navbarheight: 100px;
*/

body {
    font-family: 'Roboto', sans-serif;
    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: 0;
	-webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('../media/images/moon_up.png') url('../media/images/sun_down.png') url('../media/images/moon_left.png') url('../media/images/sun_right.png');
}

html {
	height: 100%;
}

@media only screen and (max-width: 992px) {
    .portfolio-header {
        justify-content: center !important;
        align-items: center !important;
    }
	.portfolio-header .links .home-long {
        display: none;
    }
    .portfolio-header .links .home-mid {
        display: inline-block !important;
    }
}

@media only screen and (max-width: 768px) {
	 /* For mobile phones: */
    .portfolio-header .links {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .page, 
    .project-title, 
    .subtitle, 
    .indent {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    .portfolio-header .links .home-mid {
        display: none !important;
    }
    .portfolio-header .links .home-short{
        display: inline-block !important;
    }
    .chart-container {
        display: block !important;
    }
    #line-chart {
        width: 100% !important;
    }
    .eclipse .cities {
        width: 100% !important;
        height: 50% !important;
    }
    .eclipse .cities:first-child {
        border-right: none !important;
        border-bottom: 1px solid rgb(37, 39, 38);
    }

    .eclipse .cities .hopkinsville-container {
        justify-content:center !important;
        background-image: url("../media/images/moon_up.png") !important;
        background-position: bottom !important;
    }

    .eclipse .cities .atlanta-container {
        justify-content:center !important;
        background-image: url("../media/images/sun_down.png") !important;
        background-position: top !important;
    }

    .eclipse .cities .title {
        text-align: center !important;
    }

    .eclipse .cities .atlanta-container, .eclipse .cities .hopkinsville-container {
        display:flex;
        justify-content:center;
        align-items: center;
    }

    .eclipse .cities .atlanta-container .title, 
    .eclipse .cities .hopkinsville-container .title {
        position: static !important;
    }
}

@media only screen and (max-width: 342px) {
    .diarization .header .title {
        height: 168px !important;
    }
}


#testVideo {
  width: 100%    !important;
  height: auto   !important;
}

.contact-form textarea {
	width: 60vw;
	height: 20vh;
	border-radius: 5px;
	margin-top: 2vh;
	font-size: larger;
	min-width: 300px;
	outline: none;
}

.contact-form .ng-valid.ng-dirty ~ .required {
	color: green;
}

.contact-form .ng-invalid.ng-dirty ~ .required,
.contact-form .hasErrors ~ .required {
	color: red;
}

.contact-form .ng-invalid.ng-dirty.shake ~ .required,
.contact-form .ng-invalid.ng-pristine.shake ~ .required {
    -webkit-animation: shake 400ms ease-in-out;
    -moz-animation: shake 400ms ease-in-out;
    -ms-animation: shake 400ms ease-in-out;
    -o-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-5deg);
        -moz-transform: translateX(-6px) rotateY(-5deg);
        -o-transform: translateX(-6px) rotateY(-5deg);
        -ms-transform: translateX(-6px) rotateY(-5deg);
        transform: translateX(-6px) rotateY(-5deg);
    }

    37.5% {
        -webkit-transform: translateX(5px) rotateY(4deg);
        -moz-transform: translateX(5px) rotateY(4deg);
        -ms-transform: translateX(5px) rotateY(4deg);
        -o-transform: translateX(5px) rotateY(4deg);
        transform: translateX(5px) rotateY(4deg);
    }

    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-2deg);
        -moz-transform: translateX(-3px) rotateY(-2deg);
        -ms-transform: translateX(-3px) rotateY(-2deg);
        -o-transform: translateX(-3px) rotateY(-2deg);
        transform: translateX(-3px) rotateY(-2deg);
    }

    87.5% {
        -webkit-transform: translateX(2px) rotateY(1deg);
        -moz-transform: translateX(2px) rotateY(1deg);
        -ms-transform: translateX(2px) rotateY(1deg);
        -o-transform: translateX(2px) rotateY(1deg);
        transform: translateX(2px) rotateY(1deg);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-5deg);
        -ms-transform: translateX(-6px) rotateY(-5deg);
        -moz-transform: translateX(-6px) rotateY(-5deg);
        -o-transform: translateX(-6px) rotateY(-5deg);
        transform: translateX(-6px)  rotateY(-5deg);
    }

    37.5% {
        -webkit-transform: translateX(5px) rotateY(4deg);
        -ms-transform: translateX(5px) rotateY(4deg);
        -moz-transform: translateX(5px) rotateY(4deg);
        -o-transform: translateX(5px) rotateY(4deg);
        transform: translateX(5px) rotateY(4deg);
    }

    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-2deg);
        -moz-transform: translateX(-3px) rotateY(-2deg);
        -ms-transform: translateX(-3px) rotateY(-2deg);
        -o-transform: translateX(-3px) rotateY(-2deg);
        transform: translateX(-3px) rotateY(-2deg);
    }

    87.5% {
        -webkit-transform: translateX(2px) rotateY(1deg);
        -moz-transform: translateX(2px) rotateY(1deg);
        -ms-transform: translateX(2px) rotateY(1deg);
        -o-transform: translateX(2px) rotateY(1deg);
        transform: translateX(2px) rotateY(1deg);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

h1 {
	text-align: center;
}

button {
	border: 1px solid black;
    border-radius: 3px;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    margin: 20px;
}

button:hover {
	background: whitesmoke;
}

.questionText {
	
	position: absolute;
    left: calc(50% - 182px);
    top: 30%;
	margin: 20px;
}

.startpage {
	text-align: center;
}

input {
	border: 1px solid white;
    border-bottom: 1px black solid;
    border-radius: 3px;
    width: 350px;
    font-size: 20px;
}
.smaller {
	font-size: 12px !important;
}

ul {
    list-style: none;
    padding: 0px;
}

p.title {
    font-size: large;
    font-weight: bold;
}

.scrollable {
    position: absolute;
    height: calc(100% - 45px);
    width: 100%;
    overflow-y: scroll;
}

#speaker-diarization {
  
}

.diarization .container {
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    
   /* border-style: solid;
    border-width: 1px;  
    border-color: red;*/
}

.diarization .header {
    /*height: 332px;*/
    width: 100px;
    float: left;

    /*border-style: solid;
    border-width: 1px;
    border-color: #008000;*/
}

.diarization .transcription {
   /* border-style: solid;
    border-width: 1px;
    border-color: green;*/
    min-height: 50px;
/*    -webkit-transition: max-height 2s;
    transition: max-height 2s;*/
}

div[id*="snippet-"] {
    position: relative;
}

.diarization .row {
    background: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 1px;
}
.diarization .row > div {
    border-radius: 5px;
}

.diarization .row div:not(:first-child) {
    margin-top: -32px;
}

div[id*="sample-"] {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    padding-bottom: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.back_highlight {
    /*background-color: orange;*/
    background-color: rgba(255,165,0,0.5);
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.highlight {
    border-style: solid;
    border-width: 1px;
    border-color: #008000;
    border-radius: 5px;
    box-shadow: 0 0 10px #9ecaed;
    background: orange;
    transform: scale(1.05);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
}

.underline {
    border-style: solid;
    border-width: 1px;
    border-color: #008000;
    border-radius: 5px;
    box-shadow: 0 0 10px #9ecaed;
    background-color: rgba(255,165,0,0.5);

    -webkit-transition: background-color 0.5s, height 1s;
    transition: background-color 0.5s, height 1s;

    height: auto !important;
/*
     transform: scale(1.2);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;*/
}

.highlight-not {
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    border-radius: 5px;
}


.diarization .header .speaker-label span {
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.diarization .header .title {
    height:135px;
    padding-left: 12px;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.diarization .header .speaker-label {
    height: 24px;
    text-align: center;
    padding-top: 8px;

    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
}

.diarization .header {
  /*  border-style: solid;
    border-width: 1px;
    border-color: #008000;*/
}

.diarization .transcription-header {
    margin-top: 30px;
}


.diarization button {
    margin: 0px;
    margin-bottom: 10px;
    font-size: medium;
}

.diarization .playbutton, .diarization .pausebutton {
    width: 100px;
}

.diarization .playbutton:hover, 
.diarization .pausebutton:hover,
.diarization .stopbutton:hover {
    background: gray;
}

.diarization .separator {
    height: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}

.diarization .transcription-line {
    /*background: aqua;*/
    margin: 10px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.diarization .loading {
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content:center;
    align-items:center;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.portfolio-header {
    border-bottom: 1px solid gray;
   /* width: 100%;
    min-height: 50px;*/
    box-shadow: 0px 2px 8px 2px #ddd;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.portfolio-header .credits-link{
    position: absolute;
    left: 100px;
    top: 62px;
    font-size: x-large;
}

.credits-anchor {
    letter-spacing: 3px;
}


.portfolio-header .links {
    font-size: x-large;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.portfolio-header .links .home-mid,
.portfolio-header .links .home-short {
    display: none;
}

.portfolio-header a:hover {
    opacity: 0.8;
}

.portfolio-header a {
    text-decoration: none;
    color: black;
}

.portfolio .projects .title {
    font-size: large;
    padding-top: 20px;
}


.portfolio .projects a {
    text-decoration: none;
}

.portfolio .projects {
    display: inline-block;
    /*display:flex;
    justify-content:flex-start;
    align-items:flex-start;*/

    /*position: relative;
    float: left;*/

    width: 200px;
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
    /*margin-left: 100px;
    margin-right: 100px;*/
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.portfolio .projects img {
    border: 1px solid gray;
    box-shadow: 0px 2px 8px 2px #ddd;
}

.footnotes {
    padding-bottom: 50px;
}

.project-title {
    font-size: xx-large;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

.subtitle {
    font-size: large;
    font-style: italic;
    margin-bottom: 10px;
}
.diarization .speakers-label {
    position: absolute;
    margin-left: 16px;
    margin-top: -16px;
}

.credits li {
    font-size: larger;
}

.content {
    text-align: justify;
    font-size: larger;
}

.info .myvideo {
    margin-top: 30px;
    width: 50%;
    height: 58%;
    /*width: 560px;*/
    /*height: 315px;*/
}

.pageactive {
    color: blue !important;
}

.mainpage {
    height: 100%;
    width: 100%;
}

.indent,
.page {
    margin-left: 100px;
    margin-right: 100px;
}

.chart-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#cluster-chart img{
    width: 50%;
    padding-left:25%;
}

#line-chart {
    width: 50%;
}

.chart-label {
   
    text-align: center;
    font-size: smaller;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
}

.subheader {
    border-bottom-width: 1px;
    padding-bottom: 5px;
    padding-top: 30px;
    border-bottom-style: inset;
    font-size: x-large;
    font-style: italic;
}

.mixinginvr,
.eclipse,
#eclipseHopkinsvilleContainer,
#eclipseAtlantaContainer {
     width: 100%;
     height: 100%;
}

.vrdaw-poster {
    width: 100%;
    height: calc(100% - 45px);
}

/* Eclipse */

.eclipse .cities {
    margin-right: -4px;
    display: inline-block;
    width: 50%;
    height: 100%;
}

.eclipse .cities:last-child {
    border-left: 1px solid rgb(37, 39, 38);
}

.eclipse .cities .hopkinsville-container, .eclipse .cities .atlanta-container {
    background-size: cover;
    width: 100%;
    height: 100%;
}
 
.eclipse .cities .hopkinsville-container:hover, 
.eclipse .cities .atlanta-container:hover {
    opacity: 0.8;
}



.eclipse .cities a {
    text-decoration: none;   
}

.eclipse .cities .hopkinsville-container {
    background-image: url("../media/images/moon_left.png");
    background-position: right;
    /*justify-content:flex-end;*/
}

.eclipse .cities .atlanta-container {
    background-image: url("../media/images/sun_right.png");
    background-position: left;
    /*justify-content:flex-start;*/
}

.eclipse .cities .title {
    padding: 30px;
    font-size: 4em;
    color: white;
}

.eclipse .cities .hopkinsville-container .title {
    text-align: right;
    position: relative;
    top: 15%;
}

.eclipse .cities .atlanta-container .title {
    position: relative;
    top: 60%;
}


#eclipseHopkinsvilleContainer #waveform,
#eclipseAtlantaContainer #waveform {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 200px;
}

#eclipseHopkinsvilleContainer .centertext, #eclipseAtlantaContainer .centertext  {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 40px;
}

#eclipseHopkinsvilleContainer .timer, #eclipseAtlantaContainer .timer{
    font-size: 20px;
    text-align: center;
}

.slider-volume {
    /*z-index: 10;*/
}

#eclipseHopkinsvilleContainer > div,
#eclipseAtlantaContainer > div {
    width: 100%;
    height: 25%;
}

#eclipseHopkinsvilleContainer .vol-slider,
#eclipseAtlantaContainer .vol-slider {
    display: flex;
    align-items: center;
    flex-flow: column;
}

#eclipseHopkinsvilleContainer .timer span,
#eclipseAtlantaContainer .timer span {
    font-size: 25px;
}

#eclipseAtlantaContainer .vol-slider span,
#eclipseAtlantaContainer .vol-slider input,
#eclipseHopkinsvilleContainer .vol-slider span,
#eclipseHopkinsvilleContainer .vol-slider input {
    text-align: center;
    padding: 5%;
}

#eclipseHopkinsvilleContainer.opaque,
#eclipseAtlantaContainer.opaque, 
#eclipseHopkinsvilleContainer.opaque .slider-volume,
#eclipseAtlantaContainer.opaque .slider-volume {
    background: rgba(20,20,20,0.9);
}

#eclipseHopkinsvilleContainer.totality,
#eclipseAtlantaContainer.totality,
#eclipseHopkinsvilleContainer.totality .slider-volume,
#eclipseAtlantaContainer.totality .slider-volume,
#eclipseAtlantaContainer.turndark, 
#eclipseAtlantaContainer.turndark .slider-volume{
    background: rgba(20,20,20,0.9);
    -webkit-transition: background-color 30s linear;
    -ms-transition: background-color 30s linear;
    transition: background-color 30s linear;
}

.touchstart,
.loading {
    text-align: center;
    position: fixed;
    top: 40%;
    margin: auto;
    font-size: 40px;
    color: white;
    width: 100%;
}

.weather,
.temperature {
    text-align: center;
    width: 100%;
    padding: 5px;
}

.weather span,
.temperature span {
    font-size: 20px;
}




