@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?puydyh');
  src:  url('fonts/icomoon.eot?puydyh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?puydyh') format('truetype'),
    url('fonts/icomoon.woff?puydyh') format('woff'),
    url('fonts/icomoon.svg?puydyh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sun2:before {
  content: "\e90e";
}
.icon-arrow-right22:before {
  content: "\ea3c";
}
.icon-link:before {
  content: "\e903";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-brightness_high:before {
  content: "\e90b";
}
.icon-brightness_4:before {
  content: "\e90c";
}
.icon-brightness_3:before {
  content: "\e90d";
}
.icon-sun:before {
  content: "\e90a";
}
.icon-music:before {
  content: "\e900";
}
.icon-long-thin-arrow-right:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e909";
}
.icon-code2:before {
  content: "\e908";
}
.icon-long-thin-arrow-right:before {
  content: "\e907";
}
.icon-earsketch-logo:before {
  content: "\e901";
}
.icon-stroke:before {
  content: "\e902";
}
.icon-quaver:before {
  content: "\e905";
}
.icon-waveform:before {
  content: "\e906";
}
.icon-code:before {
  content: "\e915";
}
.icon-file-css2:before {
  content: "\e9be";
}
.icon-cog:before {
  content: "\eb5c";
}
.icon-plus2:before {
  content: "\ed58";
}
.icon-long-arrow-right:before {
  content: "\e904";
}
