<div class="about">
	<div>
		<div class="row header">
			<p class="big-font">EarSketch helps you learn coding through music. Use sounds from the EarSketch library or your own sounds, along with Python or JavaScript code, to produce studio quality music.</p>
		</div>
		<div class="row info-graphic">
			<figure>
				<i class="icon icon-waveform"></i>
				<figcaption>audio clips</figcaption>
			</figure>
			<figure class="separator">
				<i class="small-icon icon-plus"></i>
				<figcaption> </figcaption>
			</figure>
			<figure>
				<i class="icon icon-code2"></i>
				<figcaption>code</figcaption>
			</figure>
			<figure class="separator">
				<i class="small-icon icon-long-thin-arrow-right "></i>
			</figure>
			<figure>
				<i class="icon icon-earsketch-logo earsketch-logo"></i>
				<figcaption>EarSketch</figcaption>
			</figure>
			<figure class="separator">
				<i class="small-icon icon-long-thin-arrow-right "></i>
			</figure>
			<figure class="">
				<i class="icon icon-quaver quaver"></i>
				<figcaption>musical remix</figcaption>
			</figure>
		</div>
		<div class="keyfeatures">
			<div class="row">
				<label>Key Features</label>
			</div>
			<div class="row content-row">
				<div class="col-md-4 col-sm-6  content-cell">
					<i class="icon icon-file-css2"></i>
					<label>Learn Python and JavaScript</label>
					<p>Learn one of the most popular programming languages in the world.</p>
				</div>
				<div class="col-md-4 col-sm-6  content-cell">
					<i class="icon icon-share2"></i>
					<label>Create & Share Music</label>
					<p>Create music in popular styles like dubstep and hip hop and share the songs with your friends</p>
				</div>
				<div class="col-md-4 col-sm-6  content-cell">
					<i class="icon icon-info">
						<span class="path1"></span>
					</i>
					<label>No Prior Experience Required</label>
					<p>You don't need to know anything about music or coding to get started.</p>
				</div>
				<div class="col-md-4 col-sm-6  content-cell">
					<i class="icon icon-shuffle"></i>
					<label>Remix sounds</label>
					<p>Create your own music from a library of sounds by Young Guru (Jay Z’s audio engineer) and Richard Devine, or record or upload your own sounds.</p>
				</div>
				<div class="col-md-4 col-sm-6 content-cell">
					<i class="icon icon-credit-card">
						<span class="path1"></span>
					</i>
					<label>Free</label>
					<p>EarSketch is completely free to use.</p>
				</div>
				<div class="col-md-4 col-sm-6 content-cell">
					<i class="icon icon-cloud-download">
						<span class="path1"></span>
					</i>
					<label>No software downloads</label>
					<p>EarSketch is web-based. There is nothing to download or install.</p>
				</div>
			</div>
		</div>
	</div>
	<affiliations></affiliations>
</div>
