<div class="affiliations">
    <div class="row">
        <div id="nsf-footer-logo" class="col-md-2 col-sm-2 col-xs-4">
        	<a href="http://www.nsf.gov/" target="_blank">
        		<img src="media/logos/nsf-logo.png"></img>
        	</a>
        </div>
        <div id="project-pipeline-footer-logo" class="col-md-2 col-sm-2 col-xs-4">
        	<a href="http://blankfoundation.org/pipeline" target="_blank">
        		<img src="media/logos/project-pipeline-notag-logo.png"></img>
        	</a>
        </div>
        <div id="adam-footer-logo" class="col-md-2 col-sm-2 col-xs-4">
        	<a href="http://adamlab.gatech.edu/" target="_blank">
        		<img src="media/logos/adamlab-logo.png"></img>
        	</a>
        </div>
        <div id="findings-footer-logo" class="col-md-2 col-sm-2 col-xs-12">
        	<a href="" target="_blank">
        		<img src="media/logos/findings-logo.png"></img>
        	</a>
        </div>
        <div id="ceismc-footer-logo" class="col-md-2 col-sm-2 col-xs-12">
        	<a href="https://www.ceismc.gatech.edu/" target="_blank">
        		<img src="media/logos/ceismc-logo.gif"></img>
        	</a>
        </div>
        <div id="gt-footer-logo-container" class="col-md-2 col-sm-2 col-xs-12">
            <div id="gtcmt-footer-logo" class="row">
            	<a href="http://www.gtcmt.gatech.edu/" target="_blank">
            		<img src="media/logos/gtcmt-full-size-logo.png"></img>
            	</a>
            </div>
            <div id="gvu-footer-logo" class="row">
            	<a href="http://www.gvu.gatech.edu/" target="_blank"><img src="media/logos/gvu-yellow-logo.png"></img>
            	</a>
            </div>
        </div>   
    </div>
    <div class="row" id="fundingtext" class="bright">
        <p>EarSketch receives funding from the <a target="_blank" href="https://nsf.gov/">National Science Foundation</a> (CNS #1138469, DRL #1417835, DUE #1504293, and DRL #1612644), the <a target="_blank" href="http://hudgensfoundation.org/">Scott Hudgens Family Foundation</a>, the <a target="_blank" href="http://www.blankfoundation.org/">Arthur M. Blank Family Foundation</a>, and the <a target="_blank" href="http://cs4hs.com/">Google Inc. Fund of Tides Foundation</a>.</p>
    </div>           
</div>