<div class="credits enable-scroll with-footer">
    <div class="row">
        <div>
            <h2>Credits</h2>
        </div>
    </div>
    <div class="row">
        <p>The following is a list of open source libraries used in EarSketch:</p>
    </div>
    <div class="row" >
        <div class="links">
            <ul calss="unstyled">
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://webaudio.github.io/web-audio-api/">Web Audio API</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://angularjs.org/">AngularJS</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://jquery.com/">jQuery</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://requirejs.org/">RequireJS</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://d3js.org/">D3.js</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="https://github.com/corbanbrook/dsp.js/">DSP.js</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://ace.c9.io/">Ace</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://www.skulpt.org/">Skulpt</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://www.google.com/analytics/">Google Analytics</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://detectmobilebrowsers.com/">Detect Mobile Browser</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://http://underscorejs.org/">Underscore.js</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://karma-runner.github.io/0.12/index.html">Karma</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="https://nodejs.org/">NodeJS</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://www.reaper.fm/">Reaper</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/document.cookie">Cookies.js</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://angular-ui.github.io">AngularUI</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://github.com/droplet-editor/droplet">Droplet Editor</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://lame.sourceforge.net/">LAME</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://github.com/zhuker/lamejs">lamejs</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://eyecon.ro/bootstrap-tabdrop/">TabDrop</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://p5js.org">P5</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://github.com/ternjs/acorn">Acorn</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://github.com/neilfraser/js-interpreter">js-interpreter</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://github.com/mattdiamond/Recoderjs">Recorderjs</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://code.google.com/p/google-diff-match-patch">google-diff-match-patch</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://lucene.apache.org/solr/">SOLR</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://developers.soundcloud.com/">SoundCloud SDK</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="http://icomoon.io">Icomoon</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="https://stuk.github.io/jszip/">JSzip</a></li>
                <li class="col-md-4 col-sm-6"><a target="_blank" href="https://github.com/GerHobbelt/hilitor">Hilitor - Search keyword highlighting</a></li>
            </ul>
           
        </div>
    </div>
    <div class="row">
         <p>Our curriculum is powered by <a href="http://asciidoc.org/">ASCIIDOC</a>.</p>
    </div>
</div>