<portfolio-header></portfolio-header>
<div id="speaker-diarization" class="scrollable">

	<div class="project-title indent">Speaker Diarization: Examples</div>
	<div class="subtitle indent">2017</div>
	

	<div class="indent content">
		<p>Another example with music instead of speech. This example uses a piece by Maurice Ravel performed by a quartet. Interestingly, Speaker 1 cluster has most of the sections with pizzicatos. Most sections wher the viola is more pronounced is under Speaker 3. Speaker 4 is mostly silence and the quiet parts.</p> 
	</div>

	<diarization-sample testfile="setN_S4_4" id="6" transcription="false"></diarization-sample>	
	
	<div class="indent content footnotes">
		<p></p> 
	</div>
</div>