<portfolio-header></portfolio-header>
<div id="speaker-diarization" class="scrollable">

	<div class="project-title indent">Speaker Diarization: Examples</div>
	<div class="subtitle indent">2017</div>

	<div class="indent content">
		<p>This is a 4-minutes excerpt from a radio interview. Speaker 2 and 4 are the interviewees. Speaker 3 contains most of the parts spoken by the interviewer but you'll notice it often gets confused or lost with other speakers. The noisy and unintelligible bits has been clustered as Speaker 1. Short sentences are also not detected very well. However, the demarcations do make it easier to traverse through the clip and also presents an overview of the content.</p> 
	</div>

	<diarization-sample testfile="setN_S4_13" id="4" transcription="true"></diarization-sample>
	
	<div class="indent content footnotes">
		<p></p> 
	</div>

</div>