<portfolio-header></portfolio-header>
<div id="speaker-diarization" class="scrollable">

	<div class="project-title indent">Speaker Diarization: Examples</div>
	<div class="subtitle indent">2017</div>
	

	<div class="indent content">
		<p>I was curious about the results if we replace the speech with music. The tool segmented the song into sections which are very well perceived as distinct sections. Each speaker now represented a unique mix of instruments found in the song. This was really interesting because it can be used to extract a high-level structure of a song. This opens up a new research avenue for detecting structure of a song. I am looking forward to further analyze these structures using self-similarity matrices. Looking at the waveforms you can gauge there are two repetitions of the verse and the chorus before the outro.</p> 
	</div>

	<diarization-sample testfile="setM_S5_2" id="5" transcription="false"></diarization-sample>	
	
	<div class="indent content footnotes">
		<p></p> 
	</div>
</div>
