<div id="speaker-diarization">
	<div>Speaker Diarization: Who Spoke When?</div>
	<div>2016</div>

	<diarization-sample testfile="setM_S4_22" id="1" transcription="true"></diarization-sample>
	<!-- <diarization-sample testfile="setM_S7_1" id="2" transcription="false"></diarization-sample> -->
	<!-- <diarization-sample testfile="setM_S4_23" id="3" transcription="false"></diarization-sample>
	<diarization-sample testfile="setM_S7_3" id="4" transcription="false"></diarization-sample> -->
<!-- 	<diarization-sample testfile="setM_S3_46" id="5" transcription="false"></diarization-sample>
	<diarization-sample testfile="setM_S3_47" id="6" transcription="true"></diarization-sample> -->
	<diarization-sample testfile="setM_S6_1" id="7" transcription="true"></diarization-sample>
</div>