<!-- <portfolio-header></portfolio-header> -->
<div class="eclipse">
	<div id="leftContainer"></div>
	<div id="rightContainer"></div>
	<div class="project-title indent">Eclipse</div>
	<div class="subtitle indent">2017 Eclipse Sonification</div>

	<div class="centertext">Hopkinsville, KY</div>
	<md-content layout="row" layout-padding>
		<md-slider-container flex>
			<md-input-container>
		        <input flex type="number" ng-model="vol" aria-label="volume" aria-controls="volume-slider">
		    </md-input-container>
			<md-slider ng-model="vol" min="0" max="100" aria-label="volume" id="volume-slider" class="md-accent" md-vertical md-range></md-slider>
		    <h5>Volume</h5>
		</md-slider-container>
	</md-content>
	<div id="waveform"></div>
</div>
