
<div id="eclipseHopkinsvilleContainer" ng-class="contextCreated ? (isTotality ? 'totality':'') :'opaque'" ng-click="touchToStart()">
	<div class="centertext">Hopkinsville, KY</div>
	<div><canvas id="waveform"></canvas></div>
	
	<div ng-hide="sonificationStarted" class="timer">
		Eclipse Sonification starts in
		<span> {{timeTillEclipseSonification._data.hours}} hours, {{timeTillEclipseSonification._data.minutes}} minutes, {{timeTillEclipseSonification._data.seconds}} seconds</span>
	</div>

	<div ng-show="isPreTotality" class="timer">
		Totality starts in 
		<span> {{timeTillTotality._data.minutes}} minutes, {{timeTillTotality._data.seconds}} seconds</span>
	</div>

	<div ng-show="isTotality" class="timer">  
		<span>{{timeInTotality._data.minutes}} minutes, {{timeInTotality._data.seconds}} seconds</span> in Totality
	</div>

	<div ng-show="totalityEnded" class="timer">Totality ended  
		<span>{{timeAfterTotality._data.days}} days, {{timeAfterTotality._data.hours}} hours, {{timeAfterTotality._data.minutes}} minutes, {{timeAfterTotality._data.seconds}} seconds</span> ago
	</div>

	<div class="vol-slider" ng-hide="isPhone">
		<md-content layout="row" class="slider-volume">
			<span>Volume</span>
			<md-slider-container>
				<md-slider flex min="0" max="100" ng-model="vol" aria-label="volume" id="volume-slider">
	      		</md-slider>
	      		<md-input-container>
	        		<input flex type="number" ng-model="vol" aria-label="volume" aria-controls="volume-slider">
	      		</md-input-container>
			</md-slider-container>
		</md-content>
	</div>

	

	<!-- <button class="playbutton" ng-click="stopSound();">Play</button> -->
	
	<!-- <p>Weather: {{weather.weather[0].main}}</p>
	<p>Temp: {{weather.main.temp}}</p>
	<p>Pressure: {{weather.main.pressure}}</p>
	<p>Wind: {{weather.wind.speed}}</p> -->
	
</div>

<div class="weather">Clouds: <span>{{weather.weather[0].main}}</span></div>
<div class="temperature">Temp: <span>{{weather.main.temp}}</span></div>

<div class="touchstart" ng-hide="touched">Touch to Start</div>
<div class="loading" ng-show="loading">..Loading..</div>
