
<div class="faq enable-scroll with-footer">
	<div class="row question">
		Where has EarSketch been used?
	</div>
	<div class="row answer">
		EarSketch has been used by over 60,000 students in all 50 states in the US and in over 100 countries around the world. It has been used in summer camps, afterschool programs, and academic courses (such as <a target="_blank" href="http://apcsprinciples.org/">Computer Science Principles</a>). While EarSketch is most often used at the high-school level, it has been successfully used in elementary, middle, high-school, and college-level courses and activities.
	</div>
	<div class="row question">
		How can I learn with EarSketch?
	</div>
	<div class="row answer">
		EarSketch helps you learn core topics in computer science, music, and music technology in a fun, engaging environment. You learn to code in Python or JavaScript, two of the most popular programming languages in the world, while manipulating loops, composing beats, and applying effects to a multi-track digital audio workstation. To start learning to write code and make music, click the Get Started button and use the integrated online curriculum.
	</div>
	<div class="row question">
		How can I teach with EarSketch?
	</div>
	<div class="row answer">
		EarSketch provides a modular curriculum designed for use within a high school or college introductory computing course. It works particularly well in (and is closely aligned with) Computer Science Principles courses. We provide lesson plans, slides, projects, assessments, and other teaching materials for an EarSketch programming module aligned with the Computer Science Principles course. To obtain access to the teaching materials, please <a href="#" ng-click="open('contact')">contact us</a>.
	</div>
	<div class="row question">
		Is EarSketch free?
	</div>
	<div class="row answer">
		EarSketch is entirely free to use. For full details, refer to our <a href="#" ng-click="open('license')">license</a>.
	</div>
	<div class="row question">
		What do I need to use EarSketch?
	</div>
	<div class="row answer">
		EarSketch is a web-based application, so there is no software to install. You need a current version of Chrome, Safari, Firefox, or Edge running on Mac, Windows, Linux, a ChromeBook, or a tablet with an attached keyboard. You also need headphones or speakers.
	</div>
	<div class="row">
		<a href="#" ng-click="open('contact')"><button class="btn navbutton navbar-btn askbutton">ASK A DIFFERENT QUESTION</button></a>
	</div>
</div>
