<portfolio-header></portfolio-header>
<div class="info scrollable">
	<div class="project-title indent">June, 2017</div>
	<div class="content indent">I am a software engineer and musician interested in working with sounds; learning from sounds; understanding, analyzing, creating, modulating and discovering sounds. </div>

	<div class="content indent"><p>I completed my Masters in Music Technology from Georgia Institute of Technology, Atlanta, in May 2017. I have 6 years of experience in working with web technologies and client-server architecture combined with experience in machine learning, DSP, C++, music information retrieval and WebAudio API. My projects portray my expertise with audio and software.</p></div>
	
	<iframe class="myvideo indent" align="middle" src="https://www.youtube.com/embed/V-hwfwHZVfE" frameborder="0" allowfullscreen></iframe>
</div>
