<div class="policy enable-scroll with-footer">
  <div class="row">
    <div>
      <h2>EarSketch Privacy Notification</h2>
    </div>
  </div>
  <div class="row" >
    <p>
      All EarSketch users are hereby notified that EarSketch uses Google Analytics in order to track usage of this software, as well as to understand how people use EarSketch, to improve the site, and to understand how EarSketch engages users of different demographic backgrounds. Google Analytics will not allow EarSketch to access your IP address, email address, billing information, name, or other personal information.
    </p>
    <p>
      As part of on-going research and development, EarSketch may share Google Analytic data with The Findings Group.
    </p>
    <p>
      EarSketch users are not required to allow Google Analytics to track their usage of this site. Should any user wish to opt out of Google Analytics, they may do so <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">here.</a>
    </p>
    <p>
      Additionally, users must opt-in to all e-mail communications from our team by subscribing to our <a href="https://groups.google.com/forum/?fromgroups#!forum/gt-earsketch-announce" target="_blank">Google Group</a>. We do not send any e-mail to users unless they opt-in to that list.
    </p>
    <p>
      This policy is effective as of 04/15/2014.  Any changes to this policy will be posted immediately and will be available on the EarSketch site.
    </p>
  </div>
</div>