<div>
	<div class="recommendations">
		<div class="reco row">
			<img src="media/portraits/amy.jpg" class="col-md-4"></img>
			<div class="col-md-8 quote-container">
				<p class="reco-quote">"In my class we would hold 'show and tell' days so that students could show off their work and vote on which student had created the best song. It was great to see the pride for their work on these days. Even though we're months from having done EarSketch in the classroom, I still have students asking me to play their songs in class!"</p>
				<p class="reco-name">- Amy Wozniak, Educator, Lane Tech College Prep High School (Chicago)</p>
			</div>
		</div>
		<div class="reco row">
			<img src="media/portraits/mike_reilly.jpg" class="col-md-4"></img>
			<div class="col-md-8 quote-container">
				<p class="reco-quote">"EarSketch accomplishes the amazing things it set out to do: it conveys core CS skills while capturing the attention of the entire spectrum of students. It is my favorite method to introduce computer science."</p>
				<p class="reco-name">- Mike Reilly, CS Teacher, Lanier High School (Georgia)</p>
			</div>
		</div>
	</div>
	<affiliations></affiliations>
</div>
