<div class="startpage">
	<h1>Listening Test <span ng-show="teststarted && !testended">({{folderIndex+1}}.{{questionIndex+1}}/{{numFolders}})</span></h1>
	<div ng-hide="teststarted">
		<p>Say stuff here. Video cannot be re-played. Use earphones. Blah blah blah.. </p>
		<p>Press start when ready.</p>
		<button ng-click="startTest();loadNextQuestion();" >Start</button>
	</div>
	
	<question ng-show="teststarted && !testended"></question>

	<div ng-show="testended">
		<div ng-show="!formSubmitted">
			<span>Thank you! Test has ended. Please fill the details.</span>
			<form name="contactForm" ng-submit="submitAnswers();" novalidate class="contact-form">
				<p>
					<input ng-class="hasErrors ? 'shake hasErrors' : ''" ng-model="fullname" type="text" placeholder="Enter your name here" required />
					<span class="required">(required)</span>
				</p>
				<p>
					<input ng-class="hasErrors ? 'shake hasErrors' : ''" ng-model="emailaddress" type="email" placeholder="Enter your email address here" required />
					<span class="required">(required)</span>
				</p>
				<p>
					<textarea ng-model="message" placeholder="Do you have any comments? Absolutely optional."></textarea>
				</p>
				<p>
					<button type="submit" class="">Submit the answers!</button>
				</p>
			</form> 
			<button ng-click="startAgain();" class="smaller">Something was not right, try again from the beginning.</button>
			<p>- by Avrosh & David</p>
		</div>
		
		<div ng-show="formSubmitted">
			Done and dusted!
		</div>

	</div>
</div>
