<div class="enable-scroll with-footer team">
	<h3 class="main-title">Project Leadership</h3>
	<div class="col-md-4 col-sm-6 col-xs-6">
		<figure>
			<div><img src="media/portraits/jason2.png" class="img-responsive img-circle"></div>
			<figcaption>
				<ul>
					<li><a target="_blank" href="http://www.music.gatech.edu/content/jason-freeman"><i class="icon icon-link"></i></a></li>
					<li><a target="_blank" href="http://distributedmusic.gatech.edu/jason/"><i class="icon icon-briefcase"></i></a></li>
				</ul>
				<label>Jason Freeman</label>
				<label>Center for Music Technology</label>
				<label>Georgia Tech</label>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6">
		<figure>
			<div><img src="media/portraits/brian2.png" class="img-responsive img-circle"></div>
			<figcaption>
				<ul>
					<li><a target="_blank" href="http://www.iac.gatech.edu/people/faculty/magerko"><i class="icon icon-link"></i></a></li>
					<li><a target="_blank" href="http://homes.lmc.gatech.edu/~bmagerko6/"><i class="icon icon-briefcase"></i></a></li>
				</ul>
				<label>Brian Magerko</label>
				<label>Digital Media</label>
				<label>Georgia Tech</label>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6">
		<figure>
			<div><img src="media/portraits/doug2.png" class="img-responsive img-circle"></div>
			<figcaption>
				<ul>
					<li><a target="_blank" href="http://www.ceismc.gatech.edu/about/staffdirectory/doug-edwards"><i class="icon icon-link"></i></a></li>
					<!-- <li><a target="_blank" href=""><i class="icon icon-briefcase"></i></a></li> -->
				</ul>
				<label>Doug Edwards</label>
				<label>CEISMC</label>
				<label>Georgia Tech</label>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6">
		<figure>
			<div><img src="media/portraits/rox2.png" class="img-responsive img-circle"></div>
			<figcaption>
				<ul>
					<li><a target="_blank" href="http://www.ceismc.gatech.edu/about/staffdirectory/dr-roxanne-moore"><i class="icon icon-link"></i></a></li>
					<li><a target="_blank"  href="https://www.linkedin.com/in/roxanne-moore-5510267"><i class="icon icon-briefcase"></i></a></li>
				</ul>
				<label>Roxanne Moore</label>
				<label>CEISMC</label>
				<label>Georgia Tech</label>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6">
		<figure>
			<div><img src="media/portraits/tom3.png" class="img-responsive img-circle"></div>
			<figcaption>
				<ul>
					<li><a target="_blank" href="http://sagefoxgroup.com/people/"><i class="icon icon-link"></i></a></li>
					<li><a target="_blank" href="https://www.linkedin.com/in/tom-mcklin-5381532"><i class="icon icon-briefcase"></i></a></li>
				</ul>
				<label>Tom McKlin</label>
				<label>The Findings Group</label>
				<label></label>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-6">
		<figure>
			<div><img src="media/portraits/mary2.png" class="img-responsive img-circle"></div>
			<figcaption>
				<ul>
					<li><a target="_blank" href="http://www.mreainc.com/Home_Page.html"><i class="icon icon-link"></i></a></li>
					<!-- <li><a target="_blank" href=""><i class="icon icon-briefcase"></i></a></li> -->
				</ul>
				<label>Mary Moriarty</label>
				<label>Moriarty Research and <br> Evaluation Associates</label>
				<label></label>
			</figcaption>
		</figure>
	</div>

	<div class="container table-container">
		<div class="row">
			<div class="col-md-12 ">
				<h3>Project Members</h3>
			</div>
		</div>
		<div class="row lineabove">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p>GEORGIA TECH</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Takahiko Tsuchiya</span>
				<span>Gregory Hendler</span>
				<span>Anna Xambó</span>
				<span>Avrosh Kumar</span>
				<span>Nikhil Bhanu</span>
				<span>Brandon Westergaard</span>
				<span>Lea Ikkache</span>
				<span>Victoria Crouch</span>
				<span>Sabrina Grossman</span>
				<span>Michael Helms</span>
				<span>Amanda Smith</span>
				<span>Pratik Shah</span>
				<span>Creston Bunch</span>
				<span>Mikhail Jacob</span>
				<span>Mary Jane Chandler</span>
				<span>Caity Taylor</span>
				<span>Anna Weisling</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p>THE FINDINGS GROUP</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Shelly Engelman</span>
				<span>Morgan Miller</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p>GEORGIA GWINNETT COLLEGE</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Tacksoo Im</span>
				<span>Sebastian Siva</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p><span class="hidden-xs">NORTHWESTERN</span><span class="hidden-lg hidden-md hidden-sm">NORTH WESTERN</span> UNIVERSITY</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Mike Horn</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p>MUSEUM OF DESIGN ATLANTA (MODA)</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Brigid Drozga</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p>MUSEUM OF SCIENCE AND INDUSTRY CHICAGO (MSI)</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Aaron Price</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p>MUSIC PARTNERS</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Young Guru</span>
				<span>Richard Devine</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p>ADVISORY BOARD</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Meltem Alemdar</span>
				<span>Mark Guzdial</span>
				<span>Gordon Kingsley</span>
				<span>Donna Llewellyn</span>
				<span>Marion Usselman</span>
				<span>Lien Diaz</span>
				<span>Crystal Furman</span>
				<span>Kylie Peppler</span>
				<span>Owen Astrachan</span>
				<span>Betsy DiSalvo</span>
				<span>Sergi Jorda</span>
				<span>Ben Shapiro</span>
				<span>Leilah Lyons</span>
			</div>
		</div>
		<div class="row linebelow">
			<div class="col-md-4 col-sm-4 col-xs-4 right">
				<p>PAST PROJECT MEMBERS</p>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 left">
				<span>Neeraj Vaidya</span>
				<span>Mathew Short</span>
				<span>Ziwen Fan</span>
				<span>Thom Jordan</span>
				<span>Scott McCoid</span>
				<span>Ying Zhan</span>
				<span>Aneesh Vartakavi</span>
				<span>Cameron Summers</span>
				<span>Anand Mahadevan</span>
				<span>Juan Carlos Martinez</span>
				<span>Alice Mentzer</span>
				<span>Tom Jenkins</span>
				<span>Paul O’Neill</span>
				<span>Shannon Yao</span>
				<span>Laurie Marion</span>
				<span>Sarah Schoemann</span>
				<span>Jonathan Streater</span>
				<span>Justin Permar</span>
				<span>Casey Fiesler</span>
				<span>Alex Duncan</span>
				<span>David Poore</span>
				<span>Michael Madaio</span>
				<span>Tulika Saraf</span>
				<span>Tanisha Wagh</span>
				<span>Nicholas Shooter</span>
				<span>Charles Hancock</span>
				<span>Elise Livingston</span>
				<span>Hera Kan</span>
				<span>Erica Louise Richards</span>
				<span>Marcela Moreno</span>
				<span>Christopher Michaud</span>
				<span>Samarth Agarwal</span>
				<span>Michael Reilly</span>
				<span>Barbara Ericson</span>
				<span>Arun Marsten</span>
				<span>Shi Cheng</span>
				<span>Randall Harris</span>
				<span>Amy Hartsough</span>
				<span>Will Jimerson</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 footnotes">
				<p>* CEISMC - Center for Education, Integrating Science, Mathematics and Computing at Georgia Tech</p>
			</div>
		</div>
	</div>
</div>
